# Dirs
.cache/
auto-save-list/
elpa/
elpaca/
parinfer-rust/
transient/
tree-sitter/
url/

# Files
*.*~
.dap-breakpoints
config.el
custom-vars.el
forge*
history
.lsp-session*
places
projectile-bookmarks.eld
projects
recentf
